ENV=
PORT=
DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_BASE_URL=
COOKIE_NAME=
ACCESS_TOKEN_NAME=
REFRESH_TOKEN_NAME=
BACKEND_BASE_URL=
COOKIE_DOMAIN=
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=
PRIVATE_KEY=
PUBLIC_KEY=
ALGORITHM=